:root {
    --white: #FFFFFF;
    --verylightblue: #BFBFFF;
    --lightblue: #8080FF;
    --softblue: #4040FF;
    --blue: #0000FF;
    --deepblue: #0000BF;
    --darkblue: #000080;
    --verydarkblue: #000040;
    --black: #000000;
}