.title {
    font-size: 24px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    text-align: center;
}

.subtitle {
    font-size: 20px;
    
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
    text-align: center;
}

.subsubtitle {
    font-size: 16px;
    
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    text-align: center;
}